@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

   .clip-style {

    clip-path: polygon(0% 0%, 83% 0, 100% 33%, 86% 100%, 0% 100%);

   }
   .custom-gradient {
    background-image: linear-gradient(to right, #4F44E0, #F72585); /* Define your desired gradient here */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

body {
    font-family: 'Montserrat', sans-serif;
}